<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <style>
        .p1 {
            text-align: center;
            font-size: 30px;
            color: #664C4D;
        }
        a {
            font-size: 30px;
            color: #664C4D;
        }
        </style>
    </head>
    <body>
        <p class="p1">
            <b>Hello! Welcome to service catalog!</b>
        </p>
        <p class="p1">
            <img src="@routes.Assets.at("images/welcome.jpg")" width="512" height="384" alt="Welcome.jpg"/>
        </p>
        <p class="p1">
            <a href="http://localhost:9000/test/services"> Start handling! </a>
        </p>
    </body>
</html>